<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">App Chat nhóm 37</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav me-auto">
        <p>Chào bạn: Mingss</p>
        <li class="nav-item">
          <a class="nav-link" href="#">Đăng xuất</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 380px;">
  <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
    <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
    <span class="fs-5 fw-semibold">Tin nhắn</span>
  </a>
  <div class="list-group list-group-flush border-bottom scrollarea">
    <a href="#" class="list-group-item list-group-item-action active py-3 lh-sm" aria-current="true">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">Hoàng Minh</strong>
        <small>Thứ 2</small>
      </div>
      <div class="col-10 mb-1 small">Hoàng Minh nhắn nè.</div>
    </a>
    <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">Mingss</strong>
        <small class="text-muted">Thứ 2</small>
      </div>
      <div class="col-10 mb-1 small">Mingss nhắn nè.</div>
    </a>

  </div>
</div>
<script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<script src="sidebars.js"></script>
