<section class="bg-image">
  <div class="container d-flex justify-content-center align-items-center h-100">
    <div class="row w-100">
      <div class="col-xl-10 mx-auto">
        <div class="card mask-custom text-white text-center" style="border-radius: .75rem;">
          <div class="card-body p-5">
            <h1 class="mb-4">WELCOME TO CHAT APP</h1>
            <p class="lead mb-4 pb-2 font-weight-normal">Make friends with people just by texting</p>
            <button (click)="reLogin()" class="btn-action mr-3">SIGN IN</button>
            <button routerLink="/signup" class="btn-action">SIGN UP</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


