<section class="bg-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="signup-wrap">
          <h2 class="text-center">Sign up</h2>
          <form [formGroup]="reactiveForm" (ngSubmit)="register()" class="signup-form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Fullname" name="fullname" formControlName="fullname"
                     required>
              <span class="text-danger"
                    *ngIf="reactiveFormControl['fullname'].touched && reactiveFormControl['fullname'].errors?.['required']">
                               Fullname is required </span>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Username" name="user" formControlName="username"
                     required>
              <span class="text-danger"
                    *ngIf="reactiveFormControl['username'].touched && reactiveFormControl['username'].errors?.['required']">
                               Username is required</span>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" name="pass" formControlName="password"
                     required minlength="6">
              <span class="text-danger"
                    *ngIf="(reactiveFormControl['password'].touched && reactiveFormControl['password'].errors?.['required']) || reactiveFormControl['password'].errors?.['minlength']">
                                Password is required and at least 6 characters</span>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email" name="mail" formControlName="email" required>
              <span class="text-danger"
                    *ngIf="(reactiveFormControl['email'].touched && reactiveFormControl['email'].errors?.['required']) || reactiveFormControl['email'].errors?.['email']">
                                Enter a valid email address</span>
            </div>
            <div class="form-group">
              <button type="submit" class="form-control submit px-3" [disabled]="reactiveForm.invalid">Sign up
              </button>
            </div>
          </form>
          <p class="text-center">Have an account? <a class="link" routerLink="/signin">Sign in now</a></p>
        </div>
      </div>
      <div class="col-md-6 bg-img">
      </div>
    </div>
  </div>

</section>
